@import "styles/settings/variables.scss";
@import "styles/tools/tools.mixins.scss";

.bannerWrap {
  padding: 2rem;
  background-color: $color_green_1;

  .banner {
    @include flexCenter();
    flex-direction: column;
    color: $color_white;

    .title {
      font-size: $fs_56;
      font-weight: $fw_medium;
      margin: 0.5rem 0;
    }

    .moreInfo {
      @include subText(100%);
      font-size: $fs_24;
      font-weight: $fw_thin;
      color: $color_white_1;
    }
  }
}
