@import "styles/settings/variables.scss";
@import "styles/tools/tools.mixins.scss";

.contentContainer {
  padding: 0 1rem;
  flex: 1;
  background-color: yellow;
  height: 500px;

  .feedToggle {
    background-color: green;
  }

  .articleList {
    background-color: violet;
  }
}

@media (min-width: 992px) {
  .contentContainer {
    flex: 3;
  }
}
