@import "styles/settings/variables.scss";
@import "styles/tools/tools.mixins.scss";

.mainContainerWrap {
  padding-top: 2rem;

  .mainContainer {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 576px) {
  .mainContainer {
    max-width: 544px;
  }
}

@media (min-width: 768px) {
  .mainContainer {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .mainContainerWrap .mainContainer {
    max-width: 940px;
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .mainContainerWrap .mainContainer {
    max-width: 1140px;
    flex-direction: row;
  }
}
